﻿<div class="Container" style="padding-top: 70px;">

    <div>
        <legend>
            Clientes
        </legend>

        <div ng-show="showFilter">

            <div ng-show="noRegistredClient" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>Atención!</strong><span> Este Cliente no está registrado en la base de datos </span>
            </div>

            <form class="form-horizontal" ng-submit="Load(identification)">
                <fieldset>
                    <div class="input-group col-md-6 col-md-offset-3">
                        <input type="number" class="form-control" aria-label="..." ng-model="filter.number" placeholder="{{filter.type}}" required>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{filter.type}} <span class="caret"></span>
                            </button>
                            <button type="submit" class="btn btn-primary" ng-disabled="filter.number===undefined || filter.type === undefined">
                                <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Cargar
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li ng-click="filter.type = 'Cedula'">
                                    <a href="">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Cédula
                                    </a>
                                </li>
                                <li ng-click="filter.type = 'Celular'">
                                    <a href="">
                                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;Celular
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div ng-show="showClientsTable">
            <div class="table-responsive table-scrollable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>Llamada</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="client in clients">
                        <tr ng-click="loadClient(client)" style="cursor:pointer">
                            <td>{{client.cedula}}</td>
                            <td>{{client.nombres}}</td>
                            <td>{{client.apellidos}}</td>
                            <td>{{client.celular}}</td>
                            <td>{{client.email}}</td>
                            <td>{{client.estado | status_filter}}</td>
                            <td>{{client.estadoLlamada | callStatus_filter}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div>
        <div ng-show="showForm">

            <button id="cleanButton" name="clean" ng-click="loadDefaultData()" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Nueva Consulta
            </button>

            <div ng-show="calledClient" class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>Atención!</strong> Este cliente ya ha sido Llamado Por: <strong>{{formClient.asesor}}</strong> el <strong>{{formClient.fechaLlamada | date:"dd/MM/yyyy "}}</strong>
            </div>

            <div ng-show="showTime" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>Tiempo de Llamada:</strong><span><strong>&nbsp;&nbsp;&nbsp;{{callSeconds | date:' mm:ss'}}</strong></span><br>
            </div>

            <form class="form-horizontal" name="clientForm">
                <fieldset>                    

                    <!-- Text input-->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="nitInput">Cedula</label>
                        <div class="col-md-8">
                            <input id="nitInput" name="nitInput" type="text" ng-model="formClient.cedula" placeholder="Cedula" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="nameInput">Nombres</label>
                        <div class="col-md-8">
                            <input id="nameInput" name="nameInput" type="text" ng-model="formClient.nombres" placeholder="Nombres" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="lastNameInput">Apellidos</label>
                        <div class="col-md-8">
                            <input id="lastNameInput" name="lastNameInput" type="text" ng-model="formClient.apellidos" placeholder="Apellidos" class="form-control input-md" required="">
                        </div>
                    </div>

                    <!-- start DatePicker -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="startDate">Fecha Nacimiento</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default button-datePicker" ng-click="open($event, 'opened')">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                <input type="datetime" class="form-control" datepicker-popup="{{format}}" show-weeks="false" id="startTypeDate" data-ng-model="formClient.fechaNacimiento" max="'9999-07-22'" show-button-bar="false" is-open="bornDateOpened" />
                            </div>
                        </div>
                    </div>

                    <!-- Multiple Radios (inline) -->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="genre">Género</label>
                        <div class="col-md-8">
                            <label class="radio-inline" for="genre-0">
                                <input type="radio" name="genre" id="genre-0" value="m" ng-model="formClient.genero" ng-required="formClient.genero">
                                Masculino
                            </label>
                            <label class="radio-inline" for="genre-1">
                                <input type="radio" name="genre" id="genre-1" value="f" ng-model="formClient.genero" ng-required="formClient.genero">
                                Femenino
                            </label>
                        </div>
                    </div>

                    <!--Select Paises-->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="callStatus">Pais</label>
                        <div class="col-md-5">
                            <select id="Select5" class="form-control" ng-model="country" ng-options="pais.descripcion for pais in paises" required></select>
                        </div>
                    </div>

                    <!--Select Departamentos-->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="callStatus">Departamento</label>
                        <div class="col-md-5">
                            <select id="Select3" class="form-control" ng-model="department" ng-options="departamento.descripcion for departamento in departamentos" required></select>
                        </div>
                    </div>

                    <!--Select Ciudades-->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="callStatus">Ciudad</label>
                        <div class="col-md-5">
                            <select id="Select4" class="form-control" ng-model="city" ng-options="ciudad.descripcion for ciudad in ciudades" required></select>
                        </div>
                    </div>

                    <!--Select Tipo Dirección-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="callStatus">Tipo Dirección</label>
                        <div class="col-md-5">
                            <select id="Select1" name="callStatus" class="form-control" ng-model="formClient.tipoDireccion">
                                <option value="autopista">Autopista</option>
                                <option value="avenida">Avenida</option>
                                <option value="carrera">Carrera</option>
                                <option value="calle">Calle</option>
                                <option value="diagonal">Diagonal</option>
                                <option value="diagonal">Manzana</option>
                                <option value="transversal">Transversal</option>
                                <option value="kilometro">Kilómetro</option>
                                <option value="vereda">Vereda</option>
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="celInput">Dirección</label>
                        <div class="col-md-8">
                            <input id="Text1" name="celInput" type="text" ng-model="formClient.direccion" placeholder="Dirección" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="barrioInput">Barrio</label>
                        <div class="col-md-8">
                            <input id="Text6" name="barrioInput" type="text" ng-model="formClient.barrio" placeholder="Barrio" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="phoneInput">Teléfono</label>
                        <div class="col-md-8">
                            <input id="phoneInput" name="phoneInput" ng-model="formClient.telefono" type="text" placeholder="Teléfono" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="celInput">Celular</label>
                        <div class="col-md-8">
                            <input id="celInput" name="celInput" type="text" ng-model="formClient.celular" placeholder="Celular" class="form-control input-md">
                        </div>
                    </div>

                    <!--Select Estado Civil-->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="callStatus">Estado Civil</label>
                        <div class="col-md-5">
                            <select id="Select2" name="callStatus" class="form-control" ng-model="formClient.estadoCivil" required>
                                <option value="Soltero">Soltero</option>
                                <option value="Casado">Casado</option>
                                <option value="Divorciado">Divorciado</option>
                                <option value="Viudo">Viudo</option>
                                <option value="Unión Libre">Unión Libre</option>
                            </select>
                        </div>
                    </div>

                    <!--Select Ocupacion-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="occupation">Ocupaci&oacute;n</label>
                        <div class="col-md-5">
                            <select id="occupationSelect" class="form-control" ng-model="occupation" ng-options="ocupacion.descripcion for ocupacion in ocupaciones"></select>
                        </div>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="funciona"></label>
                        <div class="col-md-8">
                            <input id="funciona" type="checkbox" ng-model="formClient.hijos" value="true">
                            &nbsp; Tiene Hijos
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="mailInput">Correo</label>
                        <div class="col-md-8">
                            <input id="mailInput" name="mailInput" ng-model="formClient.email" type="email" placeholder="Correo" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Twitter -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="twitter">Twitter</label>
                        <div class="col-md-5">
                            <input id="twitter" name="twitter" type="text" ng-model="formClient.twitter" placeholder="Twitter" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Facebook -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="twitter">Facebook</label>
                        <div class="col-md-5">
                            <input id="Text2" name="facebook" type="text" ng-model="formClient.facebook" placeholder="Facebook" class="form-control input-md">
                        </div>
                    </div>

                    <!--Select Emisoras-->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="factory">Emisora</label>
                        <div class="col-md-5">
                            <select id="Select6" class="form-control" ng-model="factory" ng-options="empresa.nombre for empresa in empresas" required></select>
                        </div>
                    </div>

                    <!-- Horas -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="callStatus">En que horario escucha usted la emisora: </label>
                        <div class="col-md-9">
                            <div class="col-md-5">
                                <input id="Text4" name="facebook" type="text" ng-model="formClient.horaInicio" placeholder="Hora Inicial" class="form-control input-md">
                            </div>
                            <label class="col-md-2">a:</label>
                            <div class="col-md-5">
                                <input id="Text5" name="facebook" type="text" ng-model="formClient.horaFin" placeholder="Hora Final" class="form-control input-md">
                            </div>

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="phoneInput">Qué otras emisoras escucha usted ?</label>
                        <div class="col-md-8">
                            <input id="Text3" name="othersInput" ng-model="formClient.emisoras" type="text" placeholder="Emisoras" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-7 control-label" for="info">Deseo recibir información de promociones y actividades especiales por medio de:</label>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="receptEmail"></label>
                        <div class="col-md-8">
                            <input id="Checkbox1" type="checkbox" ng-model="formClient.recibirCorreo" value="true">
                            &nbsp; Correo Electrónico
                        </div>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="funciona"></label>
                        <div class="col-md-8">
                            <input id="Checkbox2" type="checkbox" ng-model="formClient.recibirSms" value="true">
                            &nbsp; SMS en el celular
                        </div>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="funciona"></label>
                        <div class="col-md-8">
                            <input id="Checkbox3" type="checkbox" ng-model="formClient.acepta" value="true">
                            &nbsp; <b><i>Acepto los Términos y Condiciones</i></b>
                        </div>
                    </div>


                    <!-- Select Basic -->
                    <div class="form-group required">
                        <label class="col-md-3 control-label" for="callStatus">Estado Llamada</label>
                        <div class="col-md-5">
                            <select id="callStatus" name="callStatus" class="form-control" ng-model="formClient.estadoLlamada" required>
                                <option value="0">Exitosa</option>
                                <option value="1">No Exitosa</option>
                                <option value="2">No Contactar</option>
                            </select>
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="observaciones">Observaciones</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="observaciones" ng-model="formClient.observacion" name="observaciones"></textarea>
                        </div>
                    </div>


                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-8 control-label" for="callButton"></label>
                        <div class="col-md-4">
                            <button id="callButton" name="callButton" ng-click="Call()" ng-disabled="calledClient || clientForm.$invalid" class="btn btn-success"><span class="glyphicon glyphicon-earphone"></span>&nbsp;Llamar</button>
                            <button id="cleanButton" name="clean" ng-click="loadDefaultData()" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;Nueva Consulta
                            </button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="col-xs-12 buttonContainer">
            <div class="col-sm-offset-3 col-sm-6">
                <button-back label="Menú Principal" code="{{operatorCode}}" color="#fff" fontsize="1.5em"></button-back>
            </div>
        </div>

    </div>
</div>
