﻿<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <form name="filterForm">
                    <fieldset>
                        <!-- Button -->
                        <div class="form-group col-md-12">
                            <button id="exportButton" name="search" class="btn btn-success" ng-disabled="!enableDownload" ng-click="exportData()">
                                <span class="glyphicon glyphicon-export"></span>&nbsp;Exportar
                            </button>
                            <button id="search" name="search" class="btn btn-success" ng-disabled="filterForm.$invalid" ng-click="page.current = 1; requestData()">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;Consultar
                            </button>
                            <button id="filterButton" type="button" name="filter" class="btn btn-default" data-toggle="collapse" data-target="#filterCollapse" aria-controls="collapseExample">
                                <span class="glyphicon glyphicon-filter"></span>&nbsp;Filtros
                            </button>
                        </div>

                        <div class="collapse" id="filterCollapse">

                            <div class="col-md-12">
                                <!-- Select Basic -->
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="statusFilter">Estado Cliente</label>
                                    <select id="statusFilter" class="form-control" ng-model="filter.status" ng-options="status.value as status.text for status in clientStatus"
                                            ng-change="evaluateCallStatus(filter.status)">
                                        <option value="">Todos</option>
                                    </select>
                                </div>

                                <!-- Select Basic -->
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="factoryFilter">Empresa</label>
                                    <select id="factoryFilter" class="form-control" ng-model="filter.idEmpresa" ng-options="empresa.idEmpresa as empresa.nombre for empresa in empresas">
                                        <option value="">Todas</option>
                                    </select>
                                </div>

                                <!-- Select Basic -->
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="callStatusFilter">Estado Llamada</label>
                                    <select id="callStatusFilter" class="form-control" ng-model="filter.callStatus" ng-options="status.value as status.text for status in callStatus"
                                            ng-disabled="filter.status === false">
                                        <option value="">Todos</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <!-- start DatePicker -->
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="startDate">Creado Desde</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default button-datePicker" ng-click="openStartTypeDate($event, 'opened1')">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        <input type="datetime" class="form-control" datepicker-popup="{{format}}" show-weeks="false" id="startTypeDate" data-ng-model="dates.startType" max="'9999-07-22'" show-button-bar="false" is-open="startTypeDateOpened" />
                                    </div>
                                </div>

                                <!-- end DatePicker -->
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="endDate">Creado Hasta</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default button-datePicker" ng-click="openFinalTypeDate($event, 'opened2')" ng-disabled="filter.startType===null">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        <input type="datetime" class="form-control" datepicker-popup="{{format}}" ng-disabled="dates.startType===null" show-weeks="false" id="finalTypeDate" data-ng-model="dates.endType" max="'9999-07-22'" show-button-bar="false" is-open="finalTypeDateOpened" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <!-- start DatePicker -->
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="startDate">Llamado Desde</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default button-datePicker" ng-click="openStartCallDate($event, 'opened1')" ng-disabled="filter.status === false" >
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        <input type="datetime" class="form-control" datepicker-popup="{{format}}" ng-disabled="filter.status === false" show-weeks="false" id="Datetime1" data-ng-model="dates.startCall" max="'9999-07-22'" show-button-bar="false" is-open="startCallDateOpened" />
                                    </div>
                                </div>

                                <!-- end DatePicker -->
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="endDate">Llamado Hasta</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default button-datePicker" ng-click="openFinalCallDate($event, 'opened2')" ng-disabled="dates.startCall===null || filter.status === false">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        <input type="datetime" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-disabled="dates.startCall===null || filter.status === false" id="Datetime2" data-ng-model="dates.endCall" max="'9999-07-22'" show-button-bar="false" is-open="finalCallDateOpened" />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </fieldset>
                </form>


                <div class="col-xs-12 historyGrid">

                    <div ng-show="showEmptyMessage" class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Atención! </strong>No hay datos para esta consulta<br>
                    </div>

                    <!--<div class="col-md-12" ng-if="clientes.length > 0">
                        <div class="input-group" id="filter-container">
                            <div class="input-group-addon"><b><span class="glyphicon glyphicon-search"></span></b></div>
                            <input type="text" class="form-control" id="userFilter" placeholder="Filtro" data-ng-model="dataFilter.text">
                        </div>
                    </div>-->

                    <div class="col-xs-12" ng-if="clientes.length > 0">
                        <div class="table-responsive table-scrollable">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Cedula</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Celular</th>
                                        <th>Estado</th>
                                        <th>Estado Llamada</th>
                                        <th>Llamado Por</th>
                                        <th>Digitado Por</th>
                                        <th>Fecha Digitación</th>
                                        <th>Fecha LLamada</th>
                                        <th>Duración</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="cliente in clientes" >
                                    <tr>
                                        <td>{{cliente.cedula}}</td>
                                        <td>{{cliente.nombres}}</td>
                                        <td>{{cliente.apellidos}}</td>
                                        <td>{{cliente.celular}}</td>
                                        <td>{{cliente.estado | status_filter}}</td>
                                        <td>{{cliente.estadoLlamada | callStatus_filter}}</td>
                                        <td>{{cliente.asesor}}</td>
                                        <td>{{cliente.digitador}}</td>
                                        <td>{{cliente.fechaCreacion | date:'yyyy-MM-dd' }}</td>
                                        <td>{{cliente.fechaLlamada | date:'yyyy-MM-dd' }}</td>
                                        <td>{{cliente.duracionLlamada | date:' mm:ss'}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        <div class="row">
                            <div class="text-center">
                                <pagination ng-if="clientes.length > 0" total-items="totalItems" ng-model="page.current" ng-change="requestData()" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-xs-12 -->
                </div>
                <!-- /.historyGrid -->

                <div class="col-xs-12 buttonContainer">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button-back label="Menú Principal" code="{{operatorCode}}" color="#fff" fontsize="1.5em"></button-back>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-bg-12 -->
    </div>
    <!-- /.row -->
</div>

