﻿<div class="container" style="padding-top: 70px;">
    <div>
        <legend>Ocupaciones
            <button id="Button3" name="clean" ng-click="Limpiar()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Nuevo</button>
            <button type="button" class="btn btn-primary" ng-click="loadEditForm()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Editar</button>
        </legend>

        <form class="form-horizontal" ng-show="view.editInfo">
            <fieldset>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="occupation">Ocupaci&oacute;n</label>
                    <div class="col-md-5">

                        <input class="form-control" name="occupation" list="occupationList" ng-model="occupation" id="operatorInput" placeholder="Descripción Ocupación" required />
                        <datalist id="occupationList">
                            <option ng-repeat="ocupacion in ocupaciones" value="{{ocupacion.descripcion}}">
                        </datalist>

                        <div>
                            <button type="button" class="btn btn-primary" ng-click="Update(occupation)" ng-disabled="occupation==undefined"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Cargar</button>
                        </div>
                    </div>
                </div>
            </fieldset>

            <legend></legend>
        </form>
    </div>

    <div>

        <div ng-show="view.form">

            <form class="form-horizontal" name="occupationForm">
                <fieldset>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="names">Descripcion</label>
                        <div class="col-md-5">
                            <input id="descripcion" name="descripcion" ng-model="formOccupation.descripcion" type="text" placeholder="Descripcion" class="form-control input-md" required>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="save"></label>
                        <div class="col-md-8">
                            <button id="save" name="save" ng-click="Guardar()" class="btn btn-success" ng-disabled="occupationForm.$invalid"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar</button>
                        </div>
                    </div>

                </fieldset>
            </form>


        </div>

        <div class="col-xs-12 buttonContainer">
            <div class="col-sm-offset-3 col-sm-6">
                <button-back label="Menú Principal" code="{{operatorCode}}" color="#fff" fontsize="1.5em"></button-back>
            </div>
        </div>
    </div>

</div>
