﻿<div class="Container" style="padding-top: 70px;">

    <div>
        <legend>Clientes
            <button id="Button1" name="clean" ng-click="Clean()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Nuevo</button>
        </legend>

        <div ng-show="sameStatus" class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Atención!</strong> No puede asignar el mismo estado a la llamada.
        </div>

        <form class="form-horizontal" ng-show="view.editInfo">
            <fieldset>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="active">Cédula</label>
                    <div class="col-md-5">

                        <input class="form-control" name="client" ng-model="identification" id="nitClientInput" placeholder="Cédula Cliente" required />                        

                        <div>
                            <button type="button" class="btn btn-primary" ng-click="Validate(identification)" ng-disabled="identification==undefined"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Validar</button>
                        </div>
                    </div>
                </div>
            </fieldset>

            <legend></legend>
        </form>
    </div>

    <div>
        <div ng-show="view.form">


            <form class="form-horizontal" name="clientForm" ng-submit="Save()">
                <fieldset>

                    <div ng-show="notCalledClient" class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Atención!</strong> Este cliente NO ha sido Llamado.
                    </div>

                    <div ng-show="noRegistredClient" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Atención!</strong><span> Este Cliente no está registrado en la base de datos </span>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="callStatus">Estado Actual Llamada</label>
                        <div class="col-md-5">
                            <select id="callStatus" name="callStatus" class="form-control" ng-model="updateForm.estadoActualLlamada" required disabled>
                                <option value="0">Exitosa</option>
                                <option value="1">No Exitosa</option>
                                <option value="2">No Contactar</option>
                            </select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="callStatus">Nuevo Estado Llamada</label>
                        <div class="col-md-5">
                            <select id="Select1" name="callStatus" class="form-control" ng-model="updateForm.estadoLlamada" required>
                                <option value=0>Exitosa</option>
                                <option value=1>No Exitosa</option>
                                <option value=2>No Contactar</option>
                            </select>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="saveButton"></label>
                        <div class="col-md-4">
                            <button type="submit" id="saveButton" name="saveButton"  ng-disabled="clientForm.$invalid" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="col-xs-12 buttonContainer">
            <div class="col-sm-offset-3 col-sm-6">
                <button-back label="Menú Principal" code="{{operatorCode}}" color="#fff" fontsize="1.5em"></button-back>
            </div>
        </div>

    </div>
</div>
